.DS_Store
*/.DS_Store
*.xcuserstate

KronosMotionControlSimulator/KronosMotionControlSimulator.xcodeproj/project.xcworkspace/xcuserdata/gjh.xcuserdatad/UserInterfaceState.xcuserstate

KronOSController/compiled/KronOSController.java

KronOSController/keyframe.properties.ser
